SECRET_KEY=change-me-to-a-random-secret
DJANGO_SETTINGS_MODULE=config.settings.dev
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_SCHEMA=tugas_kelompok
CSRF_TRUSTED_ORIGINS=https://your-project.pws.cs.ui.ac.id
