SECRET_KEY=change-me-to-a-random-secret
DJANGO_SETTINGS_MODULE=config.settings.dev
ALLOWED_HOSTS=localhost,127.0.0.1

# Only needed for config.settings.prod
DB_NAME=tugas_kelompok
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
CSRF_TRUSTED_ORIGINS=
